<div class="header bg-gradient-danger pb-8 pt-5 ">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Table -->
            <div class="card shadow">
                <div class="border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="mb-0 mb-01">Virtual Account</h2>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody style="font-weight: 600; color: #525f7f;">
                            <mat-accordion class="example-headers-align">
                                <mat-expansion-panel [expanded]="step === 0" (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false" hideToggle *ngFor="let item of virtual"> 
                                    <mat-expansion-panel-header>
                                        
                                        <mat-panel-title class="mb-0">{{item.email}}</mat-panel-title>
                                        <mat-panel-description>{{panelOpenState ? 'Less' : 'More'}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <div class="table-responsive">
                                        <!-- Projects table -->
                                        <table class="table align-items-center table-flush">
                                            <thead class="thead-light">

                                                <tr>
                                                    <th scope="col">First Name</th>
                                                    <th scope="col">Last Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col">Phone</th>
                                                    <th scope="col">Company</th>
                                                    <th scope="col">country</th>
                                                    <th scope="col">Request Date</th>
                                                    <th scope="col"> Remark</th>
                                                </tr>
                                                <tr >
                                                   
                                                   <td>{{item.email}}</td>
                                                   <td>{{item.company}}</td>
                                                   <td>{{item.date | date:'dd/MM/yyyy'}}</td>
                                                   <td>{{item.firstName}}</td>
                                                   <td>{{item.id}}</td>
                                                   <td>{{item.lastName}}</td>
                                                   <td>{{item.phone}}</td>
                                                   <td>{{item.status}}</td>
                                                   <td>{{item.country}}</td>
                                                   <tbody style="font-weight: 600; color: #525f7f;">
                                                
                                                    <td> <button type="button" class="btn btn-danger btn-danger"
                                                        (click)="onDelete(item)">Delete</button>
                                                </td>
                                                </tbody>
                                           
                                                </tr>
                                            </thead>
                                            <!-- <tbody style="font-weight: 600; color: #525f7f;">
                                                
                                                <td> <button type="button" class="btn btn-danger btn-danger"
                                                    (click)="onDelete(item)">Delete</button>
                                            </td>
                                            </tbody>
                                        -->
                                        </table>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </tbody>
                    </table>
                   
                                          
                                    </div>
                               
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>