<!-- <div class="header bg-gradient-danger pb-8 pt-5 ">
    <div class="container-fluid">
        <div class="header-body">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row ">
                        <div class="col">
                            <h2 class="mb-0">Contact Admin </h2>
                            <div id="outer">
                                <div class="inner">
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"
                                                    aria-hidden="true"></i></span>
                                        </div>
                                        <input type="text" maxlength="50" style="width: 19rem;" autocomplete="off"
                                            class="form-control" placeholder="Search by Email" required>
                                    </div>
                                </div>
                                <div class="inner">
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-search"
                                                    aria-hidden="true"></i></span>
                                        </div>
                                        <input type="text" style="width: 9rem;" maxlength="50" autocomplete="off"
                                            class="form-control" placeholder="Search by Company" required>
                                    </div>
                                </div>
                                <h4 class="mb-0 label-text-center">Area To Reflect Contact Attributes From NAWAQL</h4>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Email</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">Portal Flag </th>
                                    <th scope="col"> Portal Role</th>
                                </tr>
                            </thead>
                            <tbody style="font-weight: 600; color: #525f7f;">
                                <td>ABD@company.com</td>
                                <td>Company A</td>
                                <td>Active</td>
                                <td>
                                    <select class="form-control">
                                        <option disabled selected value></option>
                                        <option>General Billing</option>
                                        <option>General Commercial</option>
                                        <option>Technical</option>
                                        <option>Other</option>
                                    </select></td>
                            </tbody>
                            <tbody style="font-weight: 600; color: #525f7f;">
                                <td>ABD@company.com</td>
                                <td>Company A</td>
                                <td>Inactive</td>
                                <td>
                                    <select class="form-control">
                                        <option disabled selected value></option>
                                        <option>General Billing</option>
                                        <option>General Commercial</option>
                                        <option>Technical</option>
                                        <option>Other</option>
                                    </select></td>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                    <button class="btn submit my-4" (click)="disply()" type="button">Update Portal
                                        Role</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <img class="center" src="assets/Under-development.png" width="700" height="500">