p {
    font-family: Lato;
  }
  
  table.sjs-table > tbody > tr:first-child > td {
       background-color: lightgreen;
  }

  .mb-0{
   margin-bottom: 0.5rem;
   font-weight: 600;
   line-height: 1.5;
   color: #32325d;
  }
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3;
    right: 0;
    margin: auto;
  }
  .row{
   margin: 0;
   font-family: myFirstFont, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #525f7f;
   text-align: left;
  }

  .custom-control-label::after {
   border-style: groove;

  }

  #outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

.label-text-center{
    display: block;
    padding-top: 20px;
}

.btn{
    background-color: #FF375E;
    color: #fff;
}