<div class="header bg-gradient-danger pb-5 pt-5 ">
    <div class="container-fluid">
        <div class="header-body">
            <img src="./assets/FA_STC_RGB_NEG.ico" style="width: 114px;">
        </div>
    </div>
</div>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8" [ngClass]="{'dir':isRTL}" [dir]="isRTL?'rtl':'ltr'">
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <img src="./assets/successful.png">
                        </div>
                        <h2 class="text-center h2 font-weight-bold mb-0">Registration Successful</h2>
                        <h3 class="text-center h2 font-weight-bold mb-0"> <small>Thank you for registering.
                                Please check your email for a confirmation.
                                Click <u><a href="#/login">here</a> </u> or you will be redirected in <countdown
                                    [config]="{ leftTime: 10, format: 's' }"></countdown> seconds
                            </small></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>