<div class="header bg-gradient-danger pt-5 pt-md-8" [hidden]=CDRsearch>
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-7">
        <div class="header-body">
          <ngb-tabset [destroyOnHide]="false">
            <ngb-tab>
              <ng-template ngbTabTitle><b>Billing</b></ng-template>
              <ng-template ngbTabContent>
                <!-- Table -->
                <div class="col-lg-4 custom-day">
                  <label for="input-city" class="form-control-label">Invoice Number</label>
                  <select class="form-control">
                    <option>0000 0000 1233 2212</option>
                    <option>0000 4452 1233 2212</option>
                    <option>0000 0000 7512 2212</option>
                    <option>0000 0000 1233 5823</option>
                  </select>
                </div>
                <div class="col-lg-4 custom-day">
                  <label for="ccproduct" class="form-control-label">Product</label>
                  <select class="form-control">
                    <option>Voice</option>
                    <option>SMS</option>
                    <option>MMS</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label for="input-city" class="form-control-label">Decument ID</label>
                  <select class="form-control">
                    <option> </option>
                    <option> </option>
                    <option> </option>
                    <option> </option>
                  </select>
                </div>
                <div class="form-group hidden">
                  <div class="input-group">
                    <input name="datepicker" maxlength="10" class="form-control" ngbDatepicker
                      #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)"
                      [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                    <ng-template #t let-date let-focused="focused">
                      <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
                <div class="form-group col-lg-4 custom-day">
                  <label class="form-control-label" for="input-city">{{"date from" | titlecase}}</label>
                  <div class="input-group">
                    <input #dpFromDate class="form-control" maxlength="10" placeholder="yyyy-mm-dd" name="dpFromDate"
                      [value]="formatter.format(fromDate)"
                      (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group col-lg-4 custom-day">
                  <label class="form-control-label" for="input-city">{{"date to" | titlecase}}
                  </label>
                  <div class="input-group">
                    <input #dpToDate class="form-control" maxlength="10" placeholder="yyyy-mm-dd" name="dpToDate"
                      [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" readonly>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="text-center">
                      <mat-spinner *ngIf="showSpinner"></mat-spinner>
                      <button class="btn submit my-4" (click)="displybilling()">Search</button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle><b>Technical </b></ng-template>
              <ng-template ngbTabContent>
                <div [hidden]=CDRsearch>
                  <div class="col-lg-4 custom-day">
                    <label for="input-city" class="form-control-label">Invoice Number</label>
                    <select class="form-control">
                      <option>0000 0000 1233 2212</option>
                      <option>0000 4452 1233 2212</option>
                      <option>0000 0000 7512 2212</option>
                      <option>0000 0000 1233 5823</option>
                    </select>
                  </div>
                  <div class="col-lg-4 custom-day">
                    <label for="ccproduct" class="form-control-label">Product</label>
                    <select class="form-control">
                      <option>Voice</option>
                      <option>SMS</option>
                      <option>MMS</option>
                      <option>Other</option>
                    </select>
                  </div>
                  <div class="col-lg-4 custom-day">
                    <label for="input-city" class="form-control-label">Account Name</label>
                    <select class="form-control">
                      <option> </option>
                      <option> </option>
                      <option> </option>
                      <option> </option>
                    </select>
                  </div>
                  <div class="col-lg-4 custom-day">
                    <label for="input-city" class="form-control-label">Account Code</label>
                    <select class="form-control">
                      <option> </option>
                      <option> </option>
                      <option> </option>
                      <option> </option>
                    </select>
                  </div>
                  <div class="col-lg-4 custom-day">
                    <label for="input-city" class="form-control-label">Decument ID</label>
                    <select class="form-control">
                      <option> </option>
                      <option> </option>
                      <option> </option>
                      <option> </option>
                    </select>
                  </div>
                  <div class="form-group hidden">
                    <div class="input-group">
                      <input name="datepicker" maxlength="10" class="form-control" ngbDatepicker
                        #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)"
                        [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                      <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>
                  </div>
                  <div class="form-group col-lg-4 custom-day">
                    <label class="form-control-label" for="input-city">{{"date from" | titlecase}}</label>
                    <div class="input-group">
                      <input #dpFromDate class="form-control" maxlength="10" placeholder="yyyy-mm-dd" name="dpFromDate"
                        [value]="formatter.format(fromDate)"
                        (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-lg-4 custom-day">
                    <label class="form-control-label" for="input-city">{{"date to" | titlecase}}
                    </label>
                    <div class="input-group">
                      <input #dpToDate class="form-control" maxlength="10" placeholder="yyyy-mm-dd" name="dpToDate"
                        [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" readonly>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="text-center">
                        <mat-spinner *ngIf="showSpinner"></mat-spinner>
                        <button class="btn submit my-4" (click)="displyTech()">Search</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-gradient-danger pt-5" [hidden]=CDR>
  <div class="container-fluid ">
    <div class="header-body">
      <!-- Table -->
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">CDR Billing Details </h3>
            </div>
          </div>
        </div>
        <div class="table-responsive table-res">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Invoice Number</th>
                <th scope="col">Decument ID</th>
                <th scope="col">Product</th>
                <th scope="col">Billing Period</th>
                <th scope="col">Billing From</th>
                <th scope="col">Billing To</th>
                <th scope="col">Description</th>
                <th scope="col">CDR Link</th>
              </tr>
            </thead>
            <tbody style="font-weight: 600; color: #525f7f;">
              <td>0000 0000 0000 0000</td>
              <td>45678998765</td>
              <td>Voice</td>
              <td>2020-08-16</td>
              <td>2020-08-16</td>
              <td>01-02-2020</td>
              <td>Voice data</td>
              <td><a href="/images/myw3schoolsimage.jpg" download>Download </a>
              </td>
            </tbody>
          </table>
          <div class="row">
            <div class="col">
              <div class="text-center">
                <mat-spinner *ngIf="showSpinner"></mat-spinner>
                <button class="btn submit my-4" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
<div class="bg-gradient-danger pt-5" [hidden]=CDRTech>
  <div class="container-fluid ">
    <div class="header-body">
      <!-- Table -->
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">CDR Technical Details </h3>
            </div>
          </div>
        </div>
        <div class="table-responsive table-res">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Invoice Number</th>
                <th scope="col">Decument ID</th>
                <th scope="col">Account Name</th>
                <th scope="col">Account Code</th>
                <th scope="col">Product</th>
                <th scope="col">Uploaded By</th>
                <th scope="col">Billing Period</th>
                <th scope="col">Billing From</th>
                <th scope="col">Billing To</th>
                <th scope="col">Description</th>
                <th scope="col">CDR Link</th>
              </tr>
            </thead>
            <tbody style="font-weight: 600; color: #525f7f;">
              <td>0000 0000 0000 0000</td>
              <td>345678987</td>
              <td>VODAFONE</td>
              <td>ALBVF</td>
              <td>Voice</td>
              <td>SAAD</td>
              <td>2020-08-16</td>
              <td>2020-08-16</td>
              <td>01-02-2020</td>
              <td>Voice data</td>
              <td><a href="/images/myw3schoolsimage.jpg" download>Download </a>
              </td>
            </tbody>
          </table>
          <div class="row">
            <div class="col">
              <div class="text-center">
                <mat-spinner *ngIf="showSpinner"></mat-spinner>
                <button class="btn submit my-4" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
