.font-dashboard{
    background-color:  #4F008C;
    padding-top: 4px;
    padding-bottom: 4px;

}
.cards{
 margin-top: 20px;
padding-top: 10x;
padding-bottom: 33px;
background-color :#D5D8DC;
width: 10px;
margin: 10px;
padding-top: 15px;
text-align: center;
font-weight: 500;
height: 80px;
color: #ff375d;
border-radius: 25px;

}
.chart-wrapper{
    width: 30%;
    height: 100vh;
    margin-top: 50px;
}

.pt-5{
    padding-top: 3rem !important;
}

.h2{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.25rem;
}
.graph-align-right{
    margin-right: 300px;
    float: right;
}
.graph-align-left{
    /* float: center; */
    margin-left: 100px;
}