<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="h2">Dashboard</h3>
                        </div>
                        <div class="col text-right">
                            <!-- <a href="#!" class="btn btn-sm btn-primary">See all</a> -->
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-2 cards">
                                <label>OPEN</label>
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <div>
                                    <label class="card-txt">00</label>
                                </div>
                            </div>
                            <div class="col-sm-2 cards">
                                <label>DELAY</label>
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <div>
                                    <label class="card-txt">00</label>
                                </div>
                            </div>
                            <div class="col-sm-2 cards">
                                <label>CLOSED</label>
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <div>
                                    <label class="card-txt">00</label>
                                </div>
                            </div>
                            <div class="col-sm-2 cards">
                                <label>PENDING </label> <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                                <div>
                                    <label class="card-txt">00</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart-wrapper graph-align-right" >
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                    <div class="chart-wrapper graph-align-left">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>