[dir=rtl]  
.btn-neutral{
float: left;}
[dir=rtl]  
.text-muted{
text-align: right;
}
[dir=rtl]  
.h2,.mr-2, .mx-2{
    float: right;
}

.link{
        color:#4F008c !important;
        cursor: pointer;
}
.card{
    height: 100px!important;
    background-clip: padding-box;
}
.pb-13{
        padding-bottom: 16rem !important
}
.py-4{
    text-align: end;
}
.mb-0{
text-align: center;
padding-bottom: 2rem;
}
.col-xl-3{
    padding-bottom: 1rem;
  }