.header {
  color:white;
  font-size: 27px;
  font: bold;
  padding: 10px;
  margin-top: 15vh;
  max-width: 100%;
}

.bigicon {
  font-size: 35px;
  color:  #FF375D;}
  .costom-contact{
      margin: auto;
  }

  .btn-lg{
      background-color:#FF375D ;
    margin-right: 26vh;
  }
  .bb{
      background-color: #4F008C;

  }
  /* .nav-item{
      font: bold;
      color: #FF375D;
  } */

.costom-con {
  color: white;     
  font-size: larger;
  margin-left: 40vh;

}
.sub{

  margin-right: 30vh;
}

.btn-cancel{
  background-color: #FF375D;
  color: aliceblue;
}
.btn-send{
  background-color:#FF375D;
  color: aliceblue;
}
.mb-0{
  margin-left: -7%;
  font-weight: 600;
  line-height: 1.5;
  color: #32325d;
  margin-top: -4%;
 }
 .col-lg-000{
  margin-top: 2rem;
  max-width: 90.33333%;
  flex: 0 0 33.33333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
