<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-4">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <form [formGroup]="complaintForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <div class="resp_padding">
                            <div class="col">
                                <h3 class="mb-0">Submit Complaint </h3>
                            </div>
                            <br>
                            <div class="col-lg-4">
                                <div class="text-muted mb-4">
                                    <label class="form-control-label">Complaint Type</label>
                                    <span class="required_lable">*</span>
                                    <select class="form-control" (change)="complainType($event)">
                                        <option value="billing" selected>Billing</option>
                                        <option value="general">General</option>
                                        <option value="technical">Technical </option>
                                    </select>
                                </div>
                                <div class="text-muted mb-4" [hidden]=technical>
                                    <label for="input-city" class="form-control-label">Invoice Ref#</label>
                                    <span class="required_lable">*</span>
                                    <select class="form-control">
                                        <option>100</option>
                                        <option>110</option>
                                        <option>112</option>
                                        <option>113</option>
                                    </select>
                                </div>
                                <div class="text-muted mb-4" [hidden]=general>
                                    <label for="input-city" class="form-control-label">Service ID</label>
                                    <span class="required_lable">*</span>
                                    <select class="form-control">
                                        <option>332</option>
                                        <option>211</option>
                                        <option>778</option>
                                        <option>445</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-000">
                                <div class="form-group">
                                    <label class="form-control-label">Description Details</label>
                                    <span class="required_lable">*</span>
                                    <textarea formControlName="desc" #description class="form-control mb-1"
                                        maxlength="500"></textarea>
                                    <span class="pull-right char"><em>{{ description.value.length }} / 500
                                            characters</em></span>
                                </div>
                            </div>
                            <div class="text-center pt-5">
                                <button type="submit" class="btn btn-send" [disabled]="!complaintForm.valid">
                                    Send</button>
                                <button class="btn btn-cancel ml-1" type="button" [routerLink]="['/home']">
                                    Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
