.country-picker {
    border: 1px solid #f0f3f5;
    border-radius: 5px;
    position: relative;
    margin-bottom: 18px;
}
.picker-button {
    background: #f0f3f5;
    /* color: #737e88; */
    width: 28px;
    height: 31px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
}
.current{
    display: inline-block;
}
.country-picker ul {
    list-style: none;
    position: absolute;
    background: #fff;
    padding: 0;
    width: 100%;
    margin: 0;
    height: calc(35px * 5);
    overflow: hidden;
    overflow-y: scroll;
    z-index: 99;
}
.country-picker ul li {
    padding: 7px;
    cursor: pointer;
    border-bottom: 1px solid #777;
    transition: 0.3s;
    margin-top: 20px;

}
.country-picker ul li:hover{
    background: #4F008C;
    color: #fff;
}
.country-picker img{
width: 20px;

}
.region{
    background: #f0f3f5;
    color: #737e88;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: inline-block
}
.region li{

    text-align: center;
}
.region ul li{
    padding: 7px;
    cursor: pointer;
    border-bottom: 1px solid #777;
    transition: 0.3s;
    display: flex;
}

.regBu{
    margin:auto;
    display:block;
   
    display: flex;
}

.h2{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.25rem;
}

.background-pink{
    background-color: #ff375d;
}

.color-white{
    color: white;
    background-color: #ff375d;
}