<div class="navbar-top">
  <img src="/assets/FA_STC_RGB_NEG.ico" height="80px;">

  <main class="main d-flex align-items-center" style="background-color: #4F008C;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="partnerForm" (ngSubmit)="newPartner()" (keydown.enter)="newPartner()"
                autocomplete="off">
                <div class="h2"> {{'NEW_PARTNER.TITLE'| translate}} </div>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{'NEW_PARTNER.FIRST_NAME'| translate}}</span>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input type="text" maxlength="10" onpaste="return false;" (keypress)="trueChart($event)"
                      class="form-control" placeholder="{{'NEW_PARTNER.FIRST_NAME'| translate}}" formControlName="fName"
                      autocomplete="off" required>
                    <div *ngIf="partnerForm.invalid  && isRegister" style="width: 100%;">
                      <div class="invalid-custom" *ngIf="partnerForm.get('fName').errors.required">First Name Is
                        Required
                      </div>
                      <div class="invalid-custom" *ngIf="partnerForm.get('fName').errors.fName">First Name Is Not Valid
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{'NEW_PARTNER.LAST_NAME'| translate}}</span>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input type="text" maxlength="10" onpaste="return false;" (keypress)="trueChart($event)"
                      class="form-control" placeholder="{{'NEW_PARTNER.LAST_NAME'| translate}}" formControlName="lName"
                      autocomplete="off" required>
                    <div *ngIf="partnerForm.invalid  && isRegister" style="width: 100%;">
                      <div class="invalid-custom" *ngIf="partnerForm.get('lName').errors.required">Last Name Is Required
                      </div>
                      <div class="invalid-custom" *ngIf="partnerForm.get('lName').errors.lName">Last Name Is Not Valid
                      </div>
                    </div>
                  </div>
                </div>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{'NEW_PARTNER.EMAIL'| translate}}</span>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input type="email" maxlength="25" onpaste="return false;" class="form-control"
                      (keypress)="trueChartEmail($event)" formControlName="email"
                      placeholder="{{'NEW_PARTNER.EMAIL'| translate}}" autocomplete="off" required>
                    <div *ngIf="partnerForm.invalid  && isRegister" style="width: 100%;">
                      <div class="invalid-custom" *ngIf="partnerForm.get('email').errors.required">Email Is Required
                      </div>
                      <div class="invalid-custom" *ngIf="partnerForm.get('email').errors.email">Email Is Not Valid</div>
                    </div>
                  </div>
                </div>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{'NEW_PARTNER.COMPANY'| translate}}</span>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-building" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input type="text" maxlength="30" onpaste="return false;" class="form-control"
                      (keypress)="trueChart($event)" formControlName="company"
                      placeholder="{{'NEW_PARTNER.COMPANY'| translate}}" autocomplete="off" autopostback="ture"
                      required>
                    <div *ngIf="partnerForm.invalid  && isRegister" style="width: 100%;">
                      <div class="invalid-custom" *ngIf="partnerForm.get('company').errors.required">Company Name Is
                        Required
                      </div>
                      <div class="invalid-custom" *ngIf="partnerForm.get('company').errors.company">Company Name Is Not
                        Valid</div>
                    </div>
                  </div>
                </div>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{'NEW_PARTNER.REGION'| translate}}</span>
                  <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1" (change)="selectRegion()">
                      <option *ngFor="let reg of listRegion " [value]="reg.value">{{reg.display}}</option>
                    </select>
                  </div>
                </div>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{'NEW_PARTNER.COUNTRY'| translate}}</span>
                  <div class=" country-picker">
                    <div class="picker-button" (click)="isCountryOpen = !isCountryOpen">
                      <i class="fa fa-globe" aria-hidden="true"></i>
                    </div>
                    <div class="current">
                      <img [src]="selectedCountry.flag" alt="">
                      <span>{{selectedCountry.name}}</span>
                    </div>
                    <ul *ngIf="isCountryOpen">
                      <li *ngFor="let country of listCountries" (click)="selectCountry(country)">
                        <img [src]="country.flag" alt="">
                        <span>{{country.name}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{'NEW_PARTNER.PHONE'| translate}}</span>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <!-- <i class="icon-phone"></i> -->
                      </span>
                    </div>
                    <input type="text" class="form-control" (keypress)="numberOnly($event)" maxlength="15"
                      placeholder="{{'NEW_PARTNER.PHONE'| translate}}" formControlName="phone" autocomplete="off"
                      onpaste="return false;" required>
                    <div *ngIf="partnerForm.invalid  && isRegister" style="width: 100%;">
                      <div class="invalid-custom" *ngIf="partnerForm.get('phone').errors.required">Phone Is Required
                      </div>
                      <div class="invalid-custom" *ngIf="partnerForm.get('phone').errors.fName">Phone Is Not Valid</div>
                    </div>
                  </div>
                </div>
                <div class=" text-center">
                  <button class="btn btn-primary" type="submit" style="background-color: #ff375d;">Register</button>
                  <button class="btn btn-primary" type="button" style="background-color:#ff375d;"> <a
                      style="color: white;" [routerLink]="['/login']"> Cancel</a></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>