<div class="header bg-gradient-danger py-7 py-lg-8">
</div>
<!-- Page content -->
<div class="container mt--8 pb-5 bg-gradient-danger">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <img src="assets/FA_STC_RGB_POS.ico" width=" 147px" />
          </div>
          <form [formGroup]="login" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" autocomplete="off">
            <h3 class="h2" style="text-align: center;">
              {{'LOGIN.TITLE'| translate}}</h3>
            <!-- Sign In to your account</p> -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
              <input type="text" id="username" class="form-control" (keypress)="trueChartEmail($event)"
                formControlName="email" maxlength="30" placeholder="Email " required>
              <div *ngIf="login.invalid  && isSubmited" style="width: 100%;">
                <div class="invalid-custom" *ngIf="login.get('email').errors.required">Email Is Required</div>
                <div class="invalid-custom" *ngIf="login.get('email').errors.email">Email Is Not Valid</div>
              </div>
            </div>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <!-- [(ngModel)]="password" -->
              <input type="password" formControlName="password"
                [type]="!hide ? 'password' : 'text'" class="form-control" placeholder="Password" maxlength="25"
                required>
              <span class="input-group-text"><i class="material-icons"
                  (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</i></span>
            </div>
            <div class="text-center">
              <button type="button" id="myBtn" class="btn btn-primary" style="background-color:#ff375d;"
                [disabled]="!login.valid" (click)="onSubmit()">{{'LOGIN.SIGN_IN'| translate}}</button>

              <button type="button" class="btn btn-primary" style="background-color:#ff375d;"><a style="color: white;"
                  [routerLink]="['/register']">{{'LOGIN.NEW_USER'| translate}}</a></button>

              <button type="button" class="btn btn-link px-0"><a style="color: #FF375D;"
                  [routerLink]="['/forgot-password']">{{'LOGIN.RESET_PASSWORD'| translate}}
                </a></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>