.header {
    color:white;
    font-size: 27px;
    font: bold;
    padding: 10px;
    margin-top: 15vh;
    max-width: 100%;
}

.bigicon {
    font-size: 35px;
    color:  #FF375D;}
    .costom-contact{
        margin: auto;
    }

    .btn-lg{
        background-color:#FF375D ;
      margin-right: 26vh;
    }
    .bb{
        background-color: #4F008C;

    }
    /* .nav-item{
        font: bold;
        color: #FF375D;
    } */

.costom-con {
    color: white;     
    font-size: larger;
    margin-left: 40vh;

}
.sub{

    margin-right: 30vh;
}

.btn-cancel{
    background-color: #FF375D;
    color: aliceblue;
}
.btn-send{
    background-color:#4F008C;
    color: aliceblue;

}
  