<!-- Page content -->
<section class="contactUs">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-4">
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" autocomplete="off">
              <div class="resp_padding">
                <div class="contactus_question">
                  <img src="./assets/ask-question-large-icon.png" width="87" height="87" alt="Ask a Question">
                </div>

                <div class="floated-spans help-livechat-go contactus_images">
                  <div class="images-containers bottom-margin"><img src="./assets/ask-question-title1.png" width="169"
                      height="32" alt="Ask a question"></div>
                  <div class="bottom_margin purple_label" style="width:325px;">We care about every single message we
                    receive.</div>
                </div>

                <br class="clr">
                <br class="clr">
                <div id="validationErrorMessageForContactus" class="bottom_margin error_msg"
                  style="display:none; background-color:#fff; border:solid 1px #e4188b; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; padding-bottom:5px">
                </div>
                <div id="dataSection">
                  <div class="bottom_margin purple_label floated_divs" style="width:190px;"><label
                      for="request_type">its
                      about</label><span class="required_lable"> *</span></div>

                  <div class="floated_divs mobile_input_width right_margin_20" style="width: 300px;">
                    <div class="bottom_margin">
                      <div class="_select medium_dropdown">
                        <span class="right_margin">
                          <select name="request_type" id="request_type">
                            <option value="-1">What?</option>
                            <option value="H" selected>Help and Support</option>
                            <option value="S">Suggestion</option>
                            <option value="I">Inquiry</option>
                          </select>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-muted mb-4">
                  <div class="form-group mb-3">
                    <label> Customer Company Name </label>
                    <div class="input-group input-group-alternative">
                      <input type="text" class="form-control" maxlength="30" placeholder="Customer Company Name"
                        (focus)="focus=true" (blur)="focus=false" formControlName="companyName">
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label> Contact Name </label>
                    <div class="input-group input-group-alternative">
                      <input type="text" class="form-control" maxlength="30" placeholder="Contact Name"
                        (focus)="focus=true" (blur)="focus=false" formControlName="contactName">
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label> Contact Mobile Number </label>
                    <div class="input-group input-group-alternative">
                      <input type="text" class="form-control" maxlength="15" placeholder="Contact Mobile Number"
                        (focus)="focus=true" (blur)="focus=false" formControlName="contactNumber">
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <label> Email </label>
                    <div class="input-group input-group-alternative">
                      <input type="text" class="form-control" maxlength="30" placeholder="Email" (focus)="focus=true"
                        (blur)="focus=false" formControlName="email">
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <span> Message Subject </span>
                    <div class="input-group input-group-alternative">
                      <input type="text" class="form-control" maxlength="45" [formControl]="textontrol"
                        (focus)="focus=true" (blur)="focus=false">
                    </div>
                    <span class="pull-right char"><em>{{ subjectLength | async }} / 45 characters</em></span>
                  </div>
                  <label> Message Details </label>
                  <textarea type="textarea" [formControl]="textControl" class="form-control mb-1"
                    maxlength="1000"></textarea>
                  <span class="pull-right char"><em>{{ descriptionLength | async }} / 225 characters</em></span>
                  <div class="clearfix"></div>
                  <div class="text-center pt-5">
                    <button type="submit" class="btn btn-send"> Send</button>
                    <button class="btn btn-cancel ml-1" type="button" [routerLink]="['/home']"> Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>