<div class="header bg-gradient-danger pb-8 pt-5 pt-md-9" [hidden]=invoiceSearch>
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="header-body">
                        <!-- Table -->
                        <div class="card shadow">
                            <div class="card-header border-0" style="background-color: #F7FAFC;">
                                <div class="row align-items-center">
                                    <div class="col-auto" style="padding-left: 40%;">
                                        <div class="icon icon-shape text-white rounded-circle shadow">
                                            <div class="col-auto">
                                                <img src="./assets/invoice.png" height="70px" width="70px"
                                                    style="margin-top: -5.5rem; margin-left: 5.5rem;">
                                            </div>
                                            <i class="fas fa-chart-pie"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col">
                                <h3 class="mb-0 mb-1"> Display Invoice </h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="input-city" class="form-control-label">Invoice Number</label>
                                    <input class="form-control" type="text" maxlength="10" />
                                </div>
                                <div class="col-lg-4">
                                    <label for="input-city" class="form-control-label">Billing Period</label>
                                    <select class="form-control">
                                        <option disabled selected value></option>
                                        <option>20141201</option>
                                        <option>20141202</option>
                                        <option>20141203</option>
                                        <option>20141204</option>
                                    </select>
                                </div>
                                <div class="form-group hidden">
                                    <div class="input-group">
                                        <input name="datepicker" class="form-control" ngbDatepicker
                                            #datepicker="ngbDatepicker" maxlength="10" (dateSelect)="onDateSelection($event)"
                                            [dayTemplate]="t">
                                        <ng-template #t let-date let-focused="focused">
                                            <span class="custom-day" [class.focused]="focused"
                                                (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                                {{ date.day }}
                                            </span>
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label class="form-control-label"
                                        for="input-city">{{"Invoice Date" | titlecase}}</label>
                                    <div class="input-group">
                                        <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd"
                                            name="dpFromDate" maxlength="10" [value]="formatter.format(fromDate)"
                                            (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar"
                                                (click)="datepicker.toggle()" type="button">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <label for="ccnumber" class="form-control-label">Service Type</label>

                                    <select class="form-control" id="yyy">
                                        <option disabled selected value></option>
                                        <option>Voice</option>
                                        <option>Non-Voice</option>
                                        <option>Voice & Non-Voice</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="text-center">
                                        <button class="btn submit my-4 " (click)="disply()"
                                            type="button">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8" [hidden]=invoice>
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="header-body">
                        <!-- Table -->
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">Invoice Details</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Invoice Number</th>
                                            <th scope="col">Billing Period</th>
                                            <th scope="col">Billing Date</th>
                                            <th scope="col">Invoice Link</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                0000 0000 0000 0000
                                            </td>
                                            <td>
                                                20141202
                                            </td>
                                            <td>
                                                01-02-2020
                                            </td>
                                            <td>
                                                <a href="/images/myw3schoolsimage.jpg" download>Download </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>