<div class="header bg-gradient-danger pb-8 pt-5 ">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Table -->
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Approve Registration</h3>
                        </div>
                      
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Company</th>
                                <th scope="col">Date </th>
                                <th scope="col"> </th>

                            </tr>
                        </thead>
                        <tbody style="font-weight: 600; color: #525f7f;" *ngFor="let item of rows" >
                            <td >{{item.email}}</td>
                            <td>{{item.company}}</td>
                            <td>{{item.date | date:'dd/MM/yyyy'}}</td>

                            
                            <td> <button type="button"  class="btn btn-danger btn-danger"
                                (click)="detail(item.id)">Details</button> </td>
                        </tbody>
                       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>