<div class="header bg-gradient-danger pb-8 pt-5 pt-md-5" [ngClass]="{'dir':isRTL}" [dir]="isRTL?'rtl':'ltr'">
    <div class="container-fluid">
        <div class="header-body">
            <h4 class="m2 font-weight-bold">{{regDetails.category}} Category</h4>
            <div class="row">
                <div class="col-xl-2 col-lg-6" data-aos="fade-up">

                </div>
                <div class="col-xl-8 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <img class="card-img-top img-fluid" src="../wbuportal_old/WBU_product_img/{{regDetails.name}}.png"> 
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold">{{regDetails.name}} </h4>
                            <mat-chip-list class="chip" cdkDropList cdkDropListOrientation="horizontal"
                                (cdkDropListDropped)="drop($event)">
                                <mat-chip class="chip pb-3" cdkDrag *ngFor="let colocation of regDetails.child">
                                    {{colocation}}
                                </mat-chip>
                            </mat-chip-list>
                            <p class="card-text">
                                {{regDetails.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>