[dir=rtl]  
.btn-neutral{
float: left;}
[dir=rtl]  
.text-muted{
text-align: right;
}
[dir=rtl]  
.h2,.mr-2, .mx-2{
    float: right;
}

.link{
   
    color: #1a0dab !important;
    cursor: pointer;
   
}

.m2{
    text-align: center;
    font-size: xx-large;
    color: white;
    padding-bottom: 3rem;
}
.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .chip{
    padding: 16px 12px;
        pointer-events: none;

  }

  .non-clickable{
    pointer-events: none;
  }