<div class="header bg-gradient-danger pb-5 pt-5 ">
    <div class="container-fluid">
    </div>
</div>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8" [ngClass]="{'dir':isRTL}" [dir]="isRTL?'rtl':'ltr'">
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <img src="./assets/successful.png">
                        </div>
                        <h2 class="text-center h2 font-weight-bold mb-0">Password Reset</h2>
                        <h3 class="text-center h2 font-weight-bold mb-0"> <small>
                                An Email including a temporary password has been sent to ****.

                                Please check you junk folder in the event you do not receive it
                                Back to <u><a href="#/login">login</a> </u> or you will be redirected in <countdown
                                    [config]="{ leftTime: 10, format: 's' }"></countdown> seconds
                            </small></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>