<!-- <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8" [ngClass]="{'dir':isRTL}" [dir]="isRTL?'rtl':'ltr'">
  <div class="container-fluid">
    <div class="header-body">
      <h2 class=" h2 text-white d-inline-block mb-0">Orders</h2>
      <div class="row">
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Service</h4>
                <span class="font-weight-bold mb-0">E003 - Capacity Extension Service</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/service.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Order Number</h4>
                <span class="font-weight-bold mb-0">I-10442930-1011</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/order_num.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Service ID</h4>
                <span class="font-weight-bold mb-0">Null</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/service-id.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Status</h4>
                <span class="font-weight-bold mb-0">Created</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/status.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Parameter</h4>
                <span class="font-weight-bold mb-0">Commercial ID</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/status.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Value</h4>
                <span class="font-weight-bold mb-0">1234555</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">System Designation</h4>
                <span class="font-weight-bold mb-0">Null</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/number.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">NI Number</h4>
                <span class="font-weight-bold mb-0">Null</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/number.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Billing Date</h4>
                <span class="font-weight-bold mb-0">Null</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/date.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">MRC</h4>
                <span class="font-weight-bold mb-0">3</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/number.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">NRC</h4>
                <span class="font-weight-bold mb-0">3</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/number.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Added Value Charge</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Civil Work Charge</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Operation Maintainence Charge</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Restoration Charge</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Interconnect Charge</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Port Provider Charge</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Govt Fee</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Segment S Charge</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Segment ST Charge</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">

            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">Flat Charge</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
        <div class="col-xl-2 col-lg-1" data-aos="fade-up">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="row">
              <div class="col">
                <h4 class="card-title mb-0">TV Charge</h4>
                <span class="font-weight-bold mb-0">0</span>
              </div>
            </div>
            <p class="mb-0">
              <span class="mr-2"><img src="./assets/dollar.png" height="50px" width="50px">
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
