<style>

    * {
  
      box-sizing: border-box
  
    }
  
   
  
    body {
  
      font-family: Verdana, sans-serif;
  
      margin: 0
  
    }
  
   
  
    .mySlides {
  
      display: none
  
    }
  
   
  
    img {
  
      width: 500px;
  
      display: block;
  
      margin-left: auto;
  
      margin-right: auto;
  
      background-color: var(--air) !important;
  
    }
  
   
  
    /* Position the "next button" to the right */
  
    .next {
  
      right: 0;
  
      border-radius: 3px 0 0 3px;
  
    }
  
   
  
    /* On hover, add a black background color with a little bit see-through */
  
    .prev:hover,
  
    .next:hover {
  
      background-color: rgba(0, 0, 0, 0.8);
  
    }
  
   
  
    /* Caption text */
  
    .text {
  
      color: #f2f2f2;
  
      font-size: 15px;
  
      padding: 8px 12px;
  
      position: absolute;
  
      bottom: 8px;
  
      width: 10%;
  
      text-align: center;
  
    }
  
   
  
    /* On smaller screens, decrease text size */
  
    @media only screen and (max-width: 300px) {
  
   
  
      .prev,
  
      .next,
  
      .text {
  
        font-size: 11px
  
      }
  
    }
  
   
  
    .dropbtn {
  
      background-color:#FF375D;
  
      color: white;
  
      padding: 16px;
  
      font-size: 16px;
  
      border-radius: 30px;
  
      cursor: pointer;
  
    }
  
   
  
    .dropdown {
  
      position: relative;
  
      display: inline-block;
  
    }
  
   
  
    .dropdown-content {
  
      display: none;
  
      position: absolute;
  
      background-color: #f9f9f9;
  
      min-width: 160px;
  
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  
      z-index: 1;
  
    }
  
   
  
    .dropdown-content a:hover {
  
      background-color: #f1f1f1
  
    }
  
   
  
    .dropdown:hover .dropdown-content {
  
      display: block;
  
    }
  
   
  
    .dropdown:hover .dropbtn {
  
      background-color: #FF375D;
  
    }
  
  </style>
  
  
  
  
  <div class="navbar" style="font-weight: 600; background-color: #4F008C;">
  
    <div class="text-center text-muted mb-4">
  
      <img src="./assets/FA_STC_RGB_NEG.ico" style="width: 114px;">
      
  
    </div>



    
  
    <!-- <a href="#home">Home</a>
  
    <a href="#news">News</a> -->
  
    <div class="dropdown">
  
      <button class="dropbtn">Report</button>
  
      <div class="dropdown-content">
  
        <li>
  
          
  
        </li>
  
      </div>
  
    </div>
  
   



    
  
    <div class="dropdown">
  
      <button class="dropbtn">CDR</button>
  
      <div class="dropdown-content">
  
   
  
      </div>
  
    </div>
  
   
  
    <div class="dropdown">
  
      <button class="dropbtn">Log out</button>
  
      <div class="dropdown-content">
  
      </div>
  
   
  
    </div>
  
  </div>
  
  <ngb-carousel>
  
    <ng-template ngbSlide>
  
      <div class="picsum-img-wrapper">
  
        <img
  
          src="https://www.stc.com.sa/wps/wcm/connect/arabic/individual/resources/3/5/35d5b96b-99ac-4e1a-ba70-841acda4bed2/640x466_Ar.png"
  
          alt="Angular Carousel 1">
  
      </div>
  
  
     
  
  
        <h1 class="purpletext text  animate coverimage fadeInUp" data-animation="fadeInUp" data-delay="200" style="background-color:#FF375D">عروضنا تجيك وأنت في بيتك مع تطبيق mystc</h1>
      
     
      <div class="carousel-caption">
  
       
      </div>
  
    </ng-template>
  
    <ng-template ngbSlide>
  
      <div class="picsum-img-wrapper">
  
        <img
  
          src="https://www.stc.com.sa/wps/wcm/connect/arabic/individual/resources/4/5/455d19ba-5a8b-426c-b88f-a228239eafef/Corporate-Banners-640x466.png"
  
          border="0" alt="خصم %50 إنترنت لامحدود مع بيتي فايبر 100" width="2000" height="490"
  
          title="خصم %50 إنترنت لامحدود مع بيتي فايبر 100">
  
   
  
      </div>
  
      <div class="carousel-caption">
  
      <h6 style="color: #FF375D;">WBU PORTAL</h6>
  
     
  
      </div>
  
    </ng-template>
  
  </ngb-carousel>