<div class="bg-gradient-danger header pb-5 ">
    <div class="container-fluid">
    </div>
</div>
<div class="bg-gradient-danger header pt-5 pt-md-8" [ngClass]="{'dir':isRTL}" [dir]="isRTL?'rtl':'ltr'">
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7 thumbnail">
                <div class="card bg-secondary shadow border-0">
                    <img src="assets/stcs.png" height="300">
                    <div class="caption">
                    </div>
                    <div class="card-body px-lg-5">
                        <form [formGroup]="newRole" (ngSubmit)="save()" autocomplete="off">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <mat-form-field appearance="legacy">
                                        <input matInput placeholder="New Role Title" formControlName="title" (keypress)="trueChart($event)">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <mat-form-field class="example-chip-list">
                                        <mat-chip-list #chipList aria-label="Role selection">
                                            <mat-chip *ngFor="let role of roles" [selectable]="selectable"
                                                [removable]="removable" (removed)="remove(role)">
                                                {{role}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input placeholder="New Privilege" #roleInput 
                                                [matAutocomplete]="auto" [formControl]="roleForm" [matChipInputFor]="chipList"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                (matChipInputTokenEnd)="add($event)" >
                                        </mat-chip-list>
                                        <mat-autocomplete #auto="matAutocomplete"
                                            (optionSelected)="selected($event)">
                                            <mat-option *ngFor="let role of filteredRoles | async"
                                                [value]="role">
                                                {{role}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" id="myBtn" class="btn btn-primary"
                                    style="background-color:#ff375d;">Save</button>

                                <button type="button" class="btn btn-primary" style="background-color:#ff375d;"><a
                                        style="color: white;" [routerLink]="['/role-access']">Cancel</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>