.costom-btn {
    margin: auto;
    margin: auto;
    line-height: initial;
    background-color: blueviolet;
    margin-left: 22vh;
    margin-top: 22vh;
}

     li {
      margin: 20 20px;
    }

.btn-c
{
    margin-top: 10vh;
}

.h2{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.25rem;
    margin-top: -15px;
    padding-bottom: 15px;
    color: white;
}

img {
    display: block;
}

.thumbnail {
    position: relative;
    display: inline-block;
}
.example-chip-list {
    width: 100%;
  }
.caption {
    position: sticky;
    top: 7%;
    left: 67%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}

.card-body-img{
   background-image: url("assets/stcs.png"); 
   background-repeat: no-repeat;
   background-size: 27rem;
   background-position-y: -15pt;
   background-position-x: -51pt;
}