<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4 color-white">403</h1>
          <h1 class="pt-3 color-white">Forbidden.</h1>
          <p class="text-muted color-white">you don't have a premission to access this page/ on this server.</p>
        </div>
      </div>
    </div>
  </div>
</div>