.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding-bottom: 21px;
  padding-top: 6%;
  margin:auto;
  padding-right: 11%;
}


.mb-01{
 padding-top: 17px;
 padding-bottom: 13px;
}
.mb-0{
 margin-bottom: 0.5rem;
 font-weight: 600;
 line-height: 1.5;
 color: #32325d;
}
.row{
 margin: 0;
 font-family: myFirstFont, sans-serif;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #525f7f;
 text-align: left;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}
