<div class="header bg-gradient-danger pb-8 pt-5">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Table -->
      <div class="card shadow">
        <div class="border-0">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0 mb-01">Active Installed Services</h2>
            </div>
            <div>
              <div class="search-hero">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                  placeholder="&#61442;  Search...">
              </div>
            </div>
          </div>
          <div class="table-responsive table-res">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Service</th>
                  <th scope="col">Order Number</th>
                  <th scope="col">Service ID</th>
                  <th scope="col">Status</th>
                  <th scope="col">Parameter</th>
                  <th scope="col">Value</th>
                  <th scope="col">System Designation</th>
                  <th scope="col">NI Number</th>
                  <th scope="col">MRC</th>
                  <th scope="col">NRC</th>
                  <th scope="col">Added Value Charge</th>
                  <th scope="col">CIVIL WORK CHARGE</th>
                  <th scope="col">PORT PROVIDER CHARGE </th>
                  <th scope="col">OPERATION MAINTAINENCE CHARGE</th>
                  <th scope="col">RESTORATION CHARGE</th>
                  <th scope="col">INTERCONNECT CHARGE</th>
                  <th scope="col">Operator Code </th>
                  <th scope="col">GOVT FEE</th>
                  <th scope="col">SEGMENT S CHARGE</th>
                  <th scope="col">SEGMENT T CHARGE</th>
                  <th scope="col">SEGMENT ST CHARGE</th>
                  <th scope="col">FLAT CHARGE</th>
                  <th scope="col">TV CHARGE</th>
                </tr>
              </thead>
              <tbody style="font-weight: 600; color: #525f7f;">
                <tr *ngFor="let item of asset | filter:searchText">
                  <td>{{item.service}}</td>
                  <td>{{item.orderNum}}</td>
                  <td>{{item.service_id}}</td>
                  <td>{{item.status}}</td>
                  <td>{{item.parameter}}</td>
                  <td>{{item.value}}</td>
                  <td>{{item.system_designation}}</td>
                  <td>{{item.ni_number}}</td>
                  <td>{{item.mrc}}</td>
                  <td>{{item.nrc}}</td>
                  <td>{{item.added_value_charge}}</td>
                  <td>{{item.civil_work_charge}}</td>
                  <td>{{item.port_provider_charge}}</td>
                  <td>{{item.operation_maintainence_charge}}</td>
                  <td>{{item.restoration_charge}}</td>
                  <td>{{item.interconnect_charge}}</td>
                  <td>{{item.operatorCode}}</td>
                  <td>{{item.govt_fee}}</td>
                  <td>{{item.segmentSCharge}}</td>
                  <td>{{item.segmentTCcharge}}</td>
                  <td>{{item.segmentStCharge}}</td>
                  <td>{{item.flat_charge}}</td>
                  <td>{{item.tv_charge}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>