<div class="animated fadeIn custom-nav ">
  <nav class="navbar navbar-expand-lg  custm-n" style="background-color: #4F008C; padding: 3vh; height: 10vh;">
    <img src="./assets/FA_STC_RGB_NEG.ico" height="60px" width="80px" [routerLink]="['/home']">
    <button aria-controls="navbarSupportedContent" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" class="navbar-toggler" type="button" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav mr-auto custom-nav-items color-white">

        <li class="nav-item active dropdown" dropdown>
          <a id="link-dropdown" class="nav-link dropdown-toggle color-white" href dropdownToggle (click)="false"
            aria-controls="your-dropdown" style="color: white;">
            {{'HEADER.MENU.SERVICE'| translate}}
          </a>
          <div id="your-dropdown" class="dropdown-menu" aria-labelledby="link-dropdown" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/display-invoice']">
              {{'HEADER.SUB_MENU.DISPLAY_INVOICE'| translate}}</a>
            <a class="dropdown-item" (mouseenter)="openMyMenu()" [matMenuTriggerFor]="service">
              {{'HEADER.SUB_MENU.DISPLAY_SERVICE'| translate}}</a>
            <mat-menu #service="matMenu">
              <a class="dropdown-item" [routerLink]="['/orders']">
                In Progress Orders
              </a>
              <a class="dropdown-item" [routerLink]="['/assets']">
                Active Installed Services
              </a>
            </mat-menu>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a id="link-dropdown" class="nav-link dropdown-toggle color-white" href dropdownToggle (click)="false"
            aria-controls="your-dropdown" style="color: white;">
            {{'HEADER.MENU.REPORT'| translate}}
          </a>
          <div id="your-dropdown" class="dropdown-menu" aria-labelledby="link-dropdown" *dropdownMenu>
            <a class="dropdown-item" href="#"
              [routerLink]="['/dashboard']">{{'HEADER.SUB_MENU.DASHBOARD'| translate}}</a>
            <a class="dropdown-item" href="#" [routerLink]="['/details']"> {{'HEADER.SUB_MENU.DETAILS'| translate}}</a>
          </div>
        </li>


        <li class="nav-item dropdown" dropdown>
          <a id="link-dropdown" class="nav-link dropdown-toggle color-white" href dropdownToggle (click)="false"
            aria-controls="your-dropdown" style="color: white;">
            {{'HEADER.MENU.CDR'| translate}}
          </a>
          <div id="your-dropdown" class="dropdown-menu" aria-labelledby="link-dropdown" *dropdownMenu>
            <a class="dropdown-item" href="#" [routerLink]="['/upload']">{{'HEADER.SUB_MENU.UPLOAD'| translate}}</a>
            <a class="dropdown-item" href="#" [routerLink]="['/download']">
              {{'HEADER.SUB_MENU.DOWNLOAD'| translate}}</a>
          </div>
        </li>


        <li class="nav-item dropdown" dropdown>
          <a id="link-dropdown" class="nav-link dropdown-toggle color-white" href dropdownToggle (click)="false"
            aria-controls="your-dropdown " style="color: white;">
            {{'HEADER.MENU.CONTACT_US'| translate}}
          </a>
          <div id="your-dropdown" class="dropdown-menu" aria-labelledby="link-dropdown" *dropdownMenu>
            <a class="dropdown-item" href="#" [routerLink]="['/help']"> {{'HEADER.SUB_MENU.HELP'| translate}} </a>
            <a class="dropdown-item" href="#" [routerLink]="['/contact']">{{'HEADER.MENU.CONTACT_US'| translate}} </a>

          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link color-white" href="#" [routerLink]="['/complaint']" style="color: white;">
            {{'HEADER.MENU.COMPLAIN'| translate}}
          </a><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item ">
          <a class="nav-link color-white" href="#" [routerLink]="['/product-catalog']" style="color: white;">
            Product Catalog
          </a><span class="sr-only">(current)</span>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center d-none d-md-flex color-white">
        <!-- <a *ngIf="!isRTL" (click)="changeLang(arabic)">
          <i class="ni ni-support-16"></i>
          <span>ع</span>
        </a>
        <a *ngIf="isRTL" (click)="changeLang(english)">
          <i class="ni ni-support-16"></i>
          <span>En</span>
        </a> -->
        <li class="nav-item color-white" ngbDropdown placement="bottom-right">
          <a class="nav-link pr-0" role="button" ngbDropdownToggle>
            <i class="fa fa-bars" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
            <div class=" dropdown-header noti-title">
              <h3 class="text-overflow m-0 h3"> {{'HEADER.WELCOME'| translate}}  {{username }}</h3>
              <p class="card-text"><small class="text-muted">Last Login:  {{lastLogin | date:'dd/MM/yyyy'}}</small></p>
            </div>
            <!-- <a routerLinkActive="active" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>{{'HEADER.MYPROFILE'| translate}}</span>
            </a> -->
            <a (click)="portal()" class="dropdown-item">
              <i class="ni ni-single-16"></i>
              <span>Portal Admin</span> </a>
            <!-- </a>
            <a class="dropdown-item" *ngIf="!isRTL" (click)="changeLang(arabic)">
              <i class="ni ni-support-16"></i>
              <span>العربيه</span>
            </a>
            <a class="dropdown-item" *ngIf="isRTL" (click)="changeLang(english)">
              <i class="ni ni-support-16"></i>
              <span>English</span>
            </a> -->
            <div class="dropdown-divider"></div>
            <a routerLink="/login" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>{{'HEADER.LOGOUT'| translate}}</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
    
  </nav>
</div>
<router-outlet></router-outlet>

<!-- Footer -->
<footer>
    <img src="./assets/FA_STC_RGB_NEG.ico" height="40px" width="60px">
    Copyright&copy; {{fullyear}} stc. All rights reserved.
</footer>

<script>
  // Add active class to the current button (highlight it)
  var header = document.getElementById("collapse");
  var btns = header.getElementsByClassName("nav-item");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
    });
  }
  </script>