.custm-n{
  font-size: larger;
  font-weight: bold;
 height: max-content;
}

.color-white{
color:white;
}

a:hover {
  border-radius: 25px;
  background-color: #ff375d;
  color:white;
}

.h3{
color: #525f7f;
}
.h2{
display: inline-block;
opacity: 0.6;
font-size: 11px;
letter-spacing: 1px;
color: #fff;
}
