<div class="header bg-gradient-danger pt-5 ">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Table -->
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="mb-0">Registration Details </h2>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-res">
                    <table class="table align-items-center table-flush">
                        <div class="col-lg-9">
                            <p>
                                <mat-form-field appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input matInput [(ngModel)]="regDetails.firstName">
                                </mat-form-field>
 
                                <mat-form-field appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput [(ngModel)]="regDetails.lastName">
                                </mat-form-field>
 
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput [(ngModel)]="regDetails.email">
                                </mat-form-field>
 
                                <mat-form-field appearance="outline">
                                    <mat-label>Phone</mat-label>
                                    <input matInput [(ngModel)]="regDetails.phone">
                                </mat-form-field>
 
                                <mat-form-field appearance="outline">
                                    <mat-label>Company</mat-label>
                                    <input matInput [(ngModel)]="regDetails.company">
                                </mat-form-field>
 
                                <mat-form-field appearance="outline">
                                    <mat-label>Country</mat-label>
                                    <input matInput [(ngModel)]="regDetails.country">
                                </mat-form-field>
                            </p>
                            <h4 class="card-title font-weight-bold">NAWAQL Roles</h4>
                            <mat-chip-list class="chip" cdkDropList cdkDropListOrientation="horizontal"
                                >
                                <mat-chip class="chip pb-3" cdkDrag *ngFor="let capacity of capacities">
                                    {{capacity.name}}
                                </mat-chip>
                            </mat-chip-list>
                            <br>
                            <h4 class="card-title font-weight-bold">Portal Roles</h4>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <mat-form-field class="example-chip-list1">
                                        <mat-chip-list #chipList aria-label="Role selection">
                                            <mat-chip *ngFor="let role of roles" [selectable]="selectable"
                                                [removable]="removable" (removed)="remove(role)">
                                                {{role}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input placeholder="New Roles" #roleInput [matAutocomplete]="auto"
                                                [matChipInputFor]="chipList" [formControl]="roleForm"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                (matChipInputTokenEnd)="add($event)" (keypress)="noText($event)">
                                        </mat-chip-list>
                                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                            <mat-option *ngFor="let role of filteredRoles | async" [value]="role">
                                                {{role}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="col-lg-000">
                                <div class="form-group">
                                    <label class="form-control-label">Description</label>
                                    <textarea class="form-control" [formControl]="approve_text" maxlength="500" rows="3"
                                        style="resize: none;"></textarea>
                                    <span class="pull-right char"><em>{{ descriptionLength | async }} / 500
                                            characters</em></span>
                                </div>
                            </div>
                        </div>
 
                    </table>
                </div>
                <div class="text-center">
                    <a [routerLink]="['/approve-registration']" class="next round">&#8249;</a>
                    <button type="button" class="btn btn-primary" style="background-color:#ff375d;"
                        (click)="approve()">Approve</button>
                    <button type="button" class="btn btn-primary" style="background-color:#ff375d;"
                        (click)="reject()">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>