p {
    font-family: Lato;
  }
  
  table.sjs-table > tbody > tr:first-child > td {
       background-color: lightgreen;
  }

  .mb-0{
   margin-bottom: 0.5rem;
   font-weight: 600;
   line-height: 1.5;
   color: #32325d;
  }
  .row{
   margin: 0;
   font-family: myFirstFont, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #525f7f;
   text-align: left;
  }

  .custom-control-label::after {
   border-style: groove;

  }
  .mat-form-field {
   margin-right: 12px;
 }
  .table-res{
     height: 400px;
     overflow-y: auto;
  }
  .example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .chip{
    padding: 16px 12px;
    pointer-events: none;
  }

  .non-clickable{
    pointer-events: none;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .next {
    background-color: #4CAF50;
    color: white;
  }
  
.round {
  border-radius: 50%;
}
.custom-day {
  display: inline-block;
}
.example-chip-list1 {
  width: 100%;
}
