<div class="navbar-top">
  <img src="assets/FA_STC_RGB_NEG.ico" height="80px;">
  <main class="main d-flex align-items-center" style="background-color: #4F008C;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm" (ngSubmit)="onRegister()" (keydown.enter)="onRegister()"
                autocomplete="off">
                <h2 style="font-family: inherit; font-weight: 600; line-height: 1.5; font-size: 1.25rem;">
                  {{'NEW_PARTNER.TITLE'| translate}}</h2>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="icon-phone"></i></span>
                  </div>
                  <input type="text" maxlength="3" autocomplete="off" class="form-control" onpaste="return false;"
                    (keypress)="trueChart($event)" placeholder="Customer Code" formControlName="code" required>
                  <div *ngIf="registerForm.invalid  && isRegister" style="width: 100%;">
                    <div class="invalid-custom" *ngIf="registerForm.get('code').errors.required">Code Is Required</div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="icon-phone"></i>
                    </span>
                  </div>
                  <input type="text" autocomplete="off" maxlength="15" class="form-control" onpaste="return false;"
                    (keypress)="numberOnly($event)" placeholder="Phone number" formControlName="phone" required>
                  <div *ngIf="registerForm.invalid  && isRegister" style="width: 100%;">
                    <div class="invalid-custom" *ngIf="registerForm.get('phone').errors.required">Phone Is Required
                    </div>
                    <div class="invalid-custom" *ngIf="registerForm.get('phone').errors.phone">Email Is Not Valid</div>

                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="email" class="form-control" autocomplete="off" maxlength="25" onpaste="return false;"
                    (keypress)="trueChartEmail($event)" formControlName="Email" placeholder="Email " required>
                  <div *ngIf="registerForm.invalid && isRegister" style="width: 100%;">
                    <div class="invalid-custom" *ngIf="registerForm.get('Email').errors.required">Email Is Required
                    </div>
                    <div class="invalid-custom" *ngIf="registerForm.get('Email').errors.email">Email Is Not Valid</div>
                  </div>
                </div>
                <div class=" text-center">
                  <button class="btn btn-primary" type="submit" style="background-color:#ff375d;" onclick=" onRegister()">Register</button>
                  <button class="btn btn-primary" type="button" style="background-color:#ff375d;"> <a
                      style="color: white;" [routerLink]="['/login']"> Cancel</a></button>
                  <button class="btn btn-link px-0" type="button"> <a style="color: #FF375D;"
                      [routerLink]="['/partner']"> {{'LOGIN.NEW_PARTNER'| translate}}</a></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>