<div class="header bg-gradient-danger pb-5 pt-5 ">
    <div class="container-fluid">
        <div class="header-body" style="background-color: #4F008C;">
            <img src="./assets/FA_STC_RGB_NEG.ico" style="width: 114px;">
        </div>
    </div>
</div>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8" [ngClass]="{'dir':isRTL}" [dir]="isRTL?'rtl':'ltr'">
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-7">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="text-center text-muted mb-4">
                            <h3 style="color: #4F008C;"><i class="fa fa-lock fa-4x"></i></h3>
                        </div>
                        <form [formGroup]="forgetForm" (ngSubmit)="forgot()" (keydown.enter)="forgot()" autocomplete="off">
                            <h2 class="text-center h2 font-weight-bold mb-0"> Forgot Password?</h2>
                            <h3 class="text-center h2 font-weight-bold mb-0"> <small>You can reset your password here.
                                </small></h3>
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input type="email" (keypress)="trueChartEmail($event)" formControlName="email"
                                        maxlength="25" class="form-control" autocomplete="off"
                                        placeholder="Email Address" (focus)="focus=true" onpaste="return false;"
                                        (blur)="focus=false">
                                    <div *ngIf="forgetForm.invalid && isRegister" style="width: 100%;">
                                        <div class="invalid-custom" *ngIf="forgetForm.get('email').errors.required">
                                            Email Is Required
                                        </div>
                                        <div class="invalid-custom" *ngIf="forgetForm.get('email').errors.email">
                                            Email Is Not Valid</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" id="myBtn" class="btn btn-primary"
                                    style="background-color:#ff375d;">Send</button>
                                <button type="button" class="btn btn-primary" style="background-color:#ff375d;"><a
                                        style="color: white;" [routerLink]="['/login']">Cancel</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>