.costom-btn {
    margin: auto;
    margin: auto;
    line-height: initial;
    background-color: blueviolet;
    margin-left: 22vh;
    margin-top: 22vh;
}

     li {
      margin: 20 20px;
    }

.btn-c
{
    margin-top: 10vh;
}

.h2{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.25rem;
}