<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8" [ngClass]="{'dir':isRTL}" [dir]="isRTL?'rtl':'ltr'">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->

            <div class="row">
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0"> <a class="color-p"
                            [routerLink]="['/approve-registration']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0">Approve
                                            Registration</span>

                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/user.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0"> <a class="color-p" [routerLink]="['/registration-details']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0">Registration
                                            Details</span>

                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/detail.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <a class="color-p" [routerLink]="['/contact-admin']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0">Contact Admin</span>
                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/contact.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <a class="color-p" [routerLink]="['/virtual-account']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0">Virtual Account</span>
                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/virtual.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <a class="color-p" [routerLink]="['/role-access']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0">Role & Access</span>
                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/access.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <a class="color-p" [routerLink]="['/history']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0"
                                            >Archive</span>
                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/archive.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <a class="color-p" [routerLink]="['/update-receiver']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0">Update
                                            Recevier</span>
                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/emails.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <a class="color-p" [routerLink]="['/orders']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0">Orders</span>
                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/order.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
        </div>
        <div class="col-xl-4">
        </div>
    </div>
</div>