<div class="header bg-gradient-danger pt-5 pt-md-7" [ngClass]="{'dir':isRTL}" [dir]="isRTL?'rtl':'ltr'">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0"> <a class="color-p" [routerLink]="['/voice']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0" style="font-size: 1.11rem;">
                                            Voice</span>
                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/voice.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <a class="color-p" [routerLink]="['/data']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0">Data & IP</span>
                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/data.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <a class="color-p" [routerLink]="['/capacity']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0">Capacity</span>
                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/capacity.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6" data-aos="fade-up">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <a class="color-p" [routerLink]="['/colocation']">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h2 font-weight-bold mb-0">Colocation</span>
                                    </div>
                                    <div class="col-auto">
                                        <img src="./assets/location.png" height="50px" width="50px">
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>