<div class="header bg-gradient-danger pb-13 pt-5" [ngClass]="{'dir':isRTL}" [dir]="isRTL?'rtl':'ltr'">
    <div class="container-fluid">
      <p class="h2 text-white mb-0"> DATA & IP Catalog</p>
      <div class="header-body">
        <!-- Card stats -->
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
          </div>
        </div>
        <div class="row">
          <div *ngFor='let item of voice' class="col-xl-3 col-lg-6" data-aos="fade-up">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <a class="link" (click)="product(item)">
                      <span class="h2 font-weight-bold mb-0">{{item}}</span>
                    </a>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>