p {
    font-family: Lato;
  }
  
  table.sjs-table > tbody > tr:first-child > td {
       background-color: lightgreen;
  }

  .mb-0{
   margin-bottom: 0.5rem;
   font-weight: 600;
   line-height: 1.5;
   color: #32325d;
  }
  .row{
   margin: 0;
   font-family: myFirstFont, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #525f7f;
   text-align: left;
  }

  .custom-control-label::after {
   border-style: groove;

  }
  .mat-form-field {
   margin-right: 12px;
 }
  .table-res{
     height: 400px;
     overflow-y: auto;
  }