<div class="header bg-gradient-danger pt-5 ">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Table -->
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Archive </h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive table-res">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <tr>
                            <th scope="col">User Email</th>
                            <th scope="col">Action</th>
                            <th scope="col">Date </th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let item of archive | paginate: { itemsPerPage: 7, currentPage: p }">
                                <td>{{item.userEmail}}</td>
                                <td>{{item.action}}</td>
                                <td>{{item.date | date:'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>