::ng-deep .nav-tabs .nav-link.active{
    background :#ffff;
}
/* ::ng-deep .nav-tabs .nav-link.active{
background: #4F008c !important;
} */
.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.form-group.hidden .form-control{
  display: none;
}
.custom-day {
  display: inline-block;
}

.mb-0{
  font-size: 1.0625rem;
  font-weight: 600;
}
.header{
  background: #f7fafc !important;
}
.form-control-label{
  font-weight: 600;
}

.col-lg-4{
  margin-top: 2rem;
  max-width: 49.33333%
}

.col-lg-000{
  margin-top: 2rem;
  max-width: 90.33333%;
  flex: 0 0 33.33333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

::ng-deep .custom-day.focused {
  background-color: #e6e6e6;
}
::ng-deep .custom-day.range, ::ng-deep .custom-day:hover {
  color: #FF375E;
}

.btn-outline-secondary {
  color: #23282c;
  border: 1px solid #cad1d7;
  background-color: #fff;
}

::ng-deep .tab-content .tab-pane {
  padding: 0rem !important;
}
::ng-deep .justify-content-start {
padding-left: 15px !important;
}

.submit{
  color: #fff;
  background-color: #FF375E;
  border-color: #FF375E;
  font-weight: 600;
  text-align: center;
  overflow: visible;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
::ng-deep .card-header {
  padding: 1rem 1rem !important
}
.card{
  background: #f7fafc;
}
.tag {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
}