<div class="header bg-gradient-danger pt-5 pt-md-8">
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-7">
        <div class="header-body">
          <ngb-tabset [destroyOnHide]="false">
            <ngb-tab>
              <ng-template ngbTabTitle><b>Billing</b></ng-template>
              <ng-template ngbTabContent>
                <!-- Table -->
                <form [formGroup]="billingForm" (ngSubmit)="save()" autocomplete="off">
                  <div class="col-lg-4 custom-day">
                    <label for="input-city" class="form-control-label">Invoice Number</label>
                    <select class="form-control" formControlName="invoice">
                      <option>0000 0000 1233 2212</option>
                      <option>0000 4452 1233 2212</option>
                      <option>0000 0000 7512 2212</option>
                      <option>0000 0000 1233 5823</option>
                    </select>
                  </div>
                  <div class="col-lg-4 custom-day">
                    <label for="ccuser" class="form-control-label">Billing Period</label>

                    <select class="form-control" formControlName="period">
                      <option>2019-01</option>
                      <option>2019-02</option>
                      <option>2019-03</option>
                      <option>2019-04</option>
                      <option>2019-05</option>
                      <option>2019-06</option>
                      <option>2019-07</option>
                      <option>2019-08</option>
                      <option>2019-09</option>
                      <option>2019-10</option>
                      <option>2019-11</option>
                      <option>2019-12</option>
                      <option>2020-01</option>
                      <option>2020-02</option>
                      <option>2020-03</option>
                      <option>2020-04</option>
                      <option>2020-05</option>
                      <option>2020-06</option>
                      <option>2020-07</option>
                      <option>2020-08</option>
                      <option>2020-09</option>
                      <option>2020-10</option>
                      <option>2020-11</option>
                      <option>2020-12</option>
                   
                    </select>
                  </div>
                  <div class="form-group hidden custom-day">
                    <div class="input-group">
                      <input name="datepicker"  class="form-control" ngbDatepicker
                        #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)"
                        [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                      <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>
                  </div>
                  <div class="form-group col-lg-4 custom-day">
                    <label class="form-control-label" for="input-city">{{"date from" | titlecase}}</label>
                    <div class="input-group">
                      <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                        [value]="formatter.format(fromDate)"
                        (input)="fromDate = validateInput(fromDate, dpFromDate.value)" >
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-lg-4 custom-day">
                    <label class="form-control-label" for="input-city">{{"date to" | titlecase}}
                    </label>
                    <div class="input-group">
                      <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                        [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)"
                        readonly>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <label for="ccproduct" class="form-control-label">Product</label>

                    <select class="form-control" formControlName="product">
                      <option>Voice</option>
                      <option>SMS</option>
                      <option>MMS</option>
                      <option>Other</option>

                    </select>
                  </div>

                  <div class="col-lg-000">
                    <div class="form-group">
                      <label class="form-control-label">Description</label>
                      <textarea class="form-control" [formControl]="textControl" maxlength="500" rows="3"
                       ></textarea>
                      <span class="pull-right char"><em>{{ descriptionLength | async }} / 500 characters</em></span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <span class="hidden-file">
                        <input type="file" #fileInput ng2FileSelect [uploader]="uploader"
                          (change)="onFileSelected($event)" accept=".txt, .csv"
                          style="display:none" />
                      </span>
                      <div class="btn-group" (click)="fileInput.click()">
                        <button type="button" class="btn btn-primary">Add Documents</button>
                      </div>
                      <label>(*txt, *csv)</label>
                    </div>
                  </div>
                  <div class="col-md-9 mt-5">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Size</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of uploader.queue">
                          <td>{{ item?.file?.name }}</td>
                          <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                          <td>
                            <mat-icon (click)="item.remove()">delete</mat-icon>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="text-center">
                        <!-- <mat-spinner *ngIf="showSpinner"></mat-spinner> -->
                        <button class="btn submit my-4 " >Submit</button>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle><b>Technical </b></ng-template>
              <ng-template ngbTabContent>
                <form [formGroup]="technicalForm"  autocomplete="off">
                  <div class="col-lg-4 custom-day">
                    <label for="input-city" class="form-control-label">Invoice Number</label>
                    <select class="form-control" formControlName="invoiceTech">
                      <option>0000 0000 1233 2212</option>
                      <option>0000 4452 1233 2212</option>
                      <option>0000 0000 7512 2212</option>
                      <option>0000 0000 1233 5823</option>
                    </select>
                  </div>
                  <div class="col-lg-4 custom-day">
                    <label for="ccuser" class="form-control-label">Billing Period</label>

                    <select class="form-control" formControlName="periodTech">
                      <option>2020-01-02</option>
                      <option>2020-02-09</option>
                      <option>2020-03</option>
                      <option>2020-04</option>
                    </select>
                  </div>
                  <div class="form-group hidden custom-day">
                    <div class="input-group">
                      <input name="datepicker"  class="form-control" ngbDatepicker
                        #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)"
                        [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                      <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>
                  </div>
                  <div class="form-group col-lg-4 custom-day">
                    <label class="form-control-label" for="input-city">{{"date from" | titlecase}}</label>
                    <div class="input-group">
                      <input #dpFromDate class="form-control"  placeholder="yyyy-mm-dd" name="dpFromDate"
                        [value]="formatter.format(fromDate)"
                        (input)="fromDate = validateInput(fromDate, dpFromDate.value)" formControlName="fromDateTech">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-lg-4 custom-day">
                    <label class="form-control-label" for="input-city">{{"date to" | titlecase}}
                    </label>
                    <div class="input-group">
                      <input #dpToDate class="form-control"  placeholder="yyyy-mm-dd" name="dpToDate"
                        [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)"
                        formControlName="toDateTech" readonly>
                    </div>
                  </div>
                  <div class="col-lg-4 custom-day">
                    <label for="ccproduct" class="form-control-label">Product</label>

                    <select class="form-control" formControlName="productTech">
                      <option>Voice</option>
                      <option>SMS</option>
                      <option>MMS</option>
                      <option>Other</option>

                    </select>
                  </div>
                  <div class="col-lg-4 custom-day">
                    <label for="ccuser" class="form-control-label">Target User</label>

                    <select  class="form-control"   >
                      <option *ngFor="let item of targetU"[value]="item.name"
                      >{{item.name}}</option>
                   
                    </select>
                  </div>

                  <div class="col-lg-000">
                    <div class="form-group">
                      <label class="form-control-label">Description</label>
                      <textarea class="form-control" [formControl]="textTech" maxlength="500" rows="3"
                        formControlName="descTech"></textarea>
                      <span class="pull-right char"><em>{{ descriptionTech | async }} / 500 characters</em></span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <span class="hidden-file">
                        <input type="file" #fileInput ng2FileSelect [uploader]="uploader"
                          (change)="onFileSelected($event)" formControlName="docTech" accept=".txt, .csv"
                          style="display:none" />
                      </span>
                      <div class="btn-group" (click)="fileInput.click()">
                        <button type="button" class="btn btn-primary">Add Documents</button>
                      </div>
                      <label>(*txt, *csv)</label>
                    </div>
                  </div>
                  <div class="col-md-9 mt-5">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Size</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of uploader.queue">
                          <td>{{ item?.file?.name }}</td>
                          <td>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                          <td>
                            <mat-icon (click)="item.remove()">delete</mat-icon>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="text-center">
                        <mat-spinner *ngIf="showSpinner"></mat-spinner>
                        <button class="btn submit my-4" >Submit</button>
                      </div>
                    </div>
                  </div>
                </form>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>