p {
  font-family: Lato;
}

table.sjs-table > tbody > tr:first-child > td {
     background-color: lightgreen;
}
.mb-01{
 padding-top: 17px;
 padding-bottom: 13px;
}
.mb-0{
 margin-bottom: 0.5rem;
 font-weight: 600;
 line-height: 1.5;
 color: #32325d;
}
.row{
 margin: 0;
 font-family: myFirstFont, sans-serif;
 font-size: 1rem;
 font-weight: 400;
 line-height: 1.5;
 color: #525f7f;
 text-align: left;
}

.custom-control-label::after {
 border-style: groove;

}

.btn{
   background-color: #FF375E;
   color: #fff;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
justify-content: space-between;
align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
margin-left: 8px;
}
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.no-click {
  pointer-events: none;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
