<div class="header bg-gradient-danger pb-8 pt-5">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Table -->
      <div class="card shadow">
        <div class="border-0">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0 mb-01">Registration Details</h2>
            </div>
            <div>
              <mat-form-field *ngFor="let filter of filterSelectObj">
                <mat-label>Filter {{filter.name}}</mat-label>
                <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                  (change)="filterChange(filter,$event)">
                  <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                </select>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col">
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody style="font-weight: 600; color: #525f7f;">
              <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step === 0" (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false" *ngFor="let value of avengers" hideToggle>
                  <mat-expansion-panel-header>
                      <mat-panel-title class="mb-0"> {{value.email}} </mat-panel-title>
                 <mat-panel-title>   <mat-chip-list aria-label="Fish selection"></mat-chip-list>

                      <mat-chip
                            [ngStyle]="{ 'color' : 'white', 'background-color': (value.status === 'Approved') ? '#2ECC71' : (value.status === 'Rejeted') ? 'red' : (value.status === 'Submmited') ? 'gray':''}">
                            {{value.status}}</mat-chip> </mat-panel-title>  
                    <mat-panel-description>{{panelOpenState ? 'Less' : 'More'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Company</th>
                        <th scope="col">country</th>
                        <th scope="col">Request Date</th>
                        <th scope="col"> Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{value.fname}}</td>
                        <td>{{value.lname}}</td>
                        <td>{{value.email}}</td>
                        <td>{{value.phone}}</td>
                        <td>{{value.company}}</td>
                        <td>{{value.country}}</td>
                        <td>{{value.date | date }}</td>
                        <td>   <mat-chip-list aria-label="Fish selection"></mat-chip-list>
                          <mat-chip 
                          [ngStyle]="{ 'color' : 'white', 'background-color': (value.status === 'Approved') ? 'green' : (value.status === 'Pending') ? 'coral' : ''}">
                          {{value.status}}</mat-chip></td>
                      </tr>
                    </tbody>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>