<div class="header bg-gradient-danger pb-8 pt-5 ">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Table -->
            <div class="card shadow">
                <div class="border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Role & Access Control </h3>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                    <button class="btn submit my-4" (click)="create()" type="button">New Role</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Permission Title</th>
                            </tr>
                        </thead>
                        <tbody style="font-weight: 600; color: #525f7f;">
                            <mat-accordion class="example-headers-align">
                                <mat-expansion-panel [expanded]="step === 0" (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false" hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="mb-0">Admin</mat-panel-title>
                                        <mat-panel-description>{{panelOpenState ? 'Less' : 'More'}}
                                            <mat-icon>account_circle</mat-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <div class="table-responsive">
                                        <!-- Projects table -->
                                        <table class="table align-items-center table-flush">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">Role Title</th>
                                                    <th scope="col">Creator Email</th>
                                                    <th scope="col">Created Date </th>
                                                    <th scope="col">Last Modification Date </th>
                                                    <th scope="col">Roles</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-weight: 600; color: #525f7f;">
                                                <td>admin</td>
                                                <td>a@stc.com.sa</td>
                                                <td>2020-01-02</td>
                                                <td>2020-01-05</td>
                                                <td>
                                                    <mat-chip-list class="example-chip" cdkDropList
                                                        cdkDropListOrientation="horizontal"
                                                        (cdkDropListDropped)="drop($event)">
                                                        <mat-chip class="example-box" cdkDrag
                                                            *ngFor="let role of roles">
                                                            {{role.name}}
                                                        </mat-chip>
                                                    </mat-chip-list>
                                                </td>
                                            </tbody>
                                        </table>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>