<div class="header bg-gradient-danger pb-8 pt-5">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Table -->
            <div class="card shadow">
                <div class="border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="mb-0 mb-01">User Setting</h2>
                        </div>
                        <div>
                            <div class="search-hero">
                                <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                                    autocomplete="off" placeholder="&#61442;  Search...">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Company</th>
                                <th scope="col">NAWAQL Roles</th>
                                <th scope="col">Portal Roles</th>
                            </tr>
                        </thead>
                        <tbody style="font-weight: 600; color: #525f7f;">
                            <tr *ngFor="let value of avengers | filter:searchText">
                                <td>{{value.fname}}</td>
                                <td>{{value.lname}}</td>
                                <td>{{value.email}}</td>
                                <td>{{value.phone}}</td>
                                <td>{{value.company}}</td>
                                <td>
                                    <mat-chip-list class="chip" cdkDropList cdkDropListOrientation="horizontal"
                                        (cdkDropListDropped)="drop($event)">
                                        <mat-chip class="chip pb-3" cdkDrag *ngFor="let capacity of capacities">
                                            {{capacity.name}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </td>
                                <td>
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <mat-form-field class="example-chip-list">
                                                <mat-chip-list #chipList aria-label="Role selection">
                                                    <mat-chip *ngFor="let role of roles" [selectable]="selectable"
                                                        [removable]="removable" (removed)="remove(role)">
                                                        {{role.name}}
                                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                    </mat-chip>
                                                    <input [matChipInputFor]="chipList"
                                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                        [matChipInputAddOnBlur]="addOnBlur"
                                                        (matChipInputTokenEnd)="add($event)">
                                                </mat-chip-list>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <button type="button" id="myBtn" class="btn btn-primary" style="background-color:#ff375d;"
                          (click)="save()">Save</button>

                          <button type="button" class="btn btn-primary" style="background-color:#ff375d;"><a
                            style="color: white;" [routerLink]="['/registration-details']">Cancel</a></button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
