<section class="contactUs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-4">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        </div>
                        <form [formGroup]="registerForm" (ngSubmit)="newPartner()" (keydown.enter)="newPartner()"
                            autocomplete="off">
                            <div class="h2"> Register New User </div>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email</mat-label>
                                            <input matInput type="email" maxlength="25" onpaste="return false;"
                                                (keypress)="trueChartEmail($event)" formControlName="email"
                                                placeholder="{{'NEW_PARTNER.EMAIL'| translate}}" autocomplete="off"
                                                required>
                                            <div *ngIf="registerForm.invalid  && isRegister" style="width: 100%;">
                                                <div class="invalid-custom"
                                                    *ngIf="registerForm.get('email').errors.required">
                                                    Email Is Required
                                                </div>
                                                <div class="invalid-custom"
                                                    *ngIf="registerForm.get('email').errors.email">Email
                                                    Is Not Valid</div>
                                            </div>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <img src="assets/sign.png" class="img" height="300">
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span
                                        class="mb-0 text-sm  font-weight-bold">{{'NEW_PARTNER.COUNTRY'| translate}}</span>
                                    <div class=" country-picker">
                                        <div class="picker-button" (click)="isCountryOpen = !isCountryOpen">
                                            <i class="fa fa-globe" aria-hidden="true"></i>
                                        </div>
                                        <div class="current">
                                            <img [src]="selectedCountry.flag" alt="">
                                            <span>{{selectedCountry.name}}</span>
                                        </div>
                                        <ul *ngIf="isCountryOpen">
                                            <li *ngFor="let country of listCountries" (click)="selectCountry(country)">
                                                <img [src]="country.flag" alt="">
                                                <span>{{country.name}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </table>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width" [style.width.px]=87>
                                            <mat-label>Country Code</mat-label>
                                            <input matInput type="text" (keypress)="numberOnly($event)"
                                                formControlName="code" autocomplete="off" onpaste="return false;"
                                                required readonly>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Phone Number</mat-label>
                                            <input matInput type="text" (keypress)="numberOnly($event)" maxlength="15"
                                                placeholder="{{'NEW_PARTNER.PHONE'| translate}}" formControlName="phone"
                                                autocomplete="off" onpaste="return false;" required>
                                            <div *ngIf="registerForm.invalid  && isRegister">
                                                <div class="invalid-custom"
                                                    *ngIf="registerForm.get('phone').errors.required">
                                                    Phone Is Required
                                                </div>
                                                <div class="invalid-custom"
                                                    *ngIf="registerForm.get('phone').errors.fName">
                                                    Phone
                                                    Is Not Valid</div>
                                            </div>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" maxlength="30" onpaste="return false;"
                                                (keypress)="trueChart($event)" formControlName="company"
                                                placeholder="{{'NEW_PARTNER.COMPANY'| translate}}" autocomplete="off"
                                                required>
                                            <div *ngIf="registerForm.invalid && isRegister">
                                                <div class="invalid-custom"
                                                    *ngIf="registerForm.get('company').errors.required">
                                                    Company Name is
                                                    Required
                                                </div>
                                                <div class="invalid-custom"
                                                    *ngIf="registerForm.get('company').errors.company">
                                                    Company Name Is Not
                                                    Valid</div>
                                            </div>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>

                            <table class="example-full-width" cellspacing="0">
                                <tr>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>First Name</mat-label>
                                            <input matInput type="text" maxlength="10" onpaste="return false;"
                                                (keypress)="trueChart($event)" class="form-control"
                                                placeholder="{{'NEW_PARTNER.FIRST_NAME'| translate}}"
                                                formControlName="fName" autocomplete="off" class="oe_inline" required>
                                            <div *ngIf="registerForm.invalid  && isRegister" style="width: 100%;">
                                                <div class="invalid-custom"
                                                    *ngIf="registerForm.get('fName').errors.required">
                                                    First Name Is Required
                                                </div>
                                                <div class="invalid-custom"
                                                    *ngIf="registerForm.get('fName').errors.fName">First
                                                    Name Is Not Valid
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Last Name</mat-label>
                                            <input matInput type="text" maxlength="10" onpaste="return false;"
                                                (keypress)="trueChart($event)" class="form-control"
                                                placeholder="{{'NEW_PARTNER.LAST_NAME'| translate}}"
                                                formControlName="lName" autocomplete="off" class="oe_inline" required>
                                            <div *ngIf="registerForm.invalid  && isRegister" style="width: 100%;">
                                                <div class="invalid-custom"
                                                    *ngIf="registerForm.get('lName').errors.required">
                                                    Last Name Is Required
                                                </div>
                                                <div class="invalid-custom"
                                                    *ngIf="registerForm.get('lName').errors.lName">Last
                                                    Name Is Not Valid
                                                </div>
                                            </div>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>

                            <div class=" text-center">
                                <button class="btn btn-primary" type="submit"
                                    style="background-color: #ff375d;">Register</button>

                                <button class="btn btn-primary" type="button" style="background-color:#ff375d;">
                                    <a style="color: white;" [routerLink]="['/login']"> Cancel</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
