.bg-gradient-danger{
    background: #4F008c !important;
}
.pt-md-8{
    padding-top: 2rem !important;
}
.h3 .mat-typography{
    font-family: inherit;
    font-weight: 600 !important;
    line-height: 1.5;
    margin-bottom: 0 !important;
    font-size: 1.0625rem;
}
.header {
    color:white;
    font-size: 27px;
    font: bold;
    padding: 10px;
    margin-top: 15vh;
    max-width: 100%;
}

.bigicon {
    font-size: 35px;
    color:  #FF375D;}
    .costom-contact{
        margin: auto;
    }

    .btn-lg{
        background-color:#FF375D ;
      margin-right: 26vh;
    }
    .bb{
        background-color: #4F008C;

    }
    /* .nav-item{
        font: bold;
        color: #FF375D;
    } */

.costom-con {
    color: white;     
    font-size: larger;
    margin-left: 40vh;

}
.sub{

    margin-right: 30vh;
}

.btn-cancel{
    background-color: #FF375D;
    color: aliceblue;
}
.btn-send{
    background-color:#4F008C;
    color: aliceblue;

}
.country-picker {
    border: 1px solid #f0f3f5;
    border-radius: 5px;
    position: relative;
    margin-bottom: 18px;
    width: 150%;
}
.picker-button {
    background: #f0f3f5;
    /* color: #737e88; */
    width: 28px;
    height: 31px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: inline-block;
}
.current{
    display: inline-block;
}
.country-picker ul {
    list-style: none;
    position: absolute;
    background: #fff;
    padding: 0;
    width: 100%;
    margin: 0;
    height: calc(35px * 5);
    overflow: hidden;
    overflow-y: scroll;
    z-index: 99;
}
.country-picker ul li {
    padding: 7px;
    cursor: pointer;
    border-bottom: 1px solid #777;
    transition: 0.3s;
    margin-top: 20px;

}
.country-picker ul li:hover{
    background: #4F008C;
    color: #fff;
}
.country-picker img{
width: 20px;

}
.region{
    background: #f0f3f5;
    color: #737e88;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: inline-block
}
.region li{

    text-align: center;
}
.region ul li{
    padding: 7px;
    cursor: pointer;
    border-bottom: 1px solid #777;
    transition: 0.3s;
    display: flex;
}

.regBu{
    margin:auto;
    display:block;
    display: flex;
}

.img{
    position: absolute;
    left: 26rem;
    top: 3rem;
}

.h2{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.25rem;
}

.background-pink{
    background-color: #ff375d;
}

.color-white{
    color: white;
    background-color: #ff375d;
}
  