.costom-btn {
    margin: auto;
    margin: auto;
    line-height: initial;
    background-color: blueviolet;
    margin-left: 22vh;
    margin-top: 22vh;
}

.h2{
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.25rem;
    margin-top: -32px;
    padding-bottom: 15px
}

.card-body-img{
   background-image: url("assets/iphone.png"); 
   background-repeat: no-repeat;
   background-position-y: -75pt;
   background-position-x: -10pt;
   width: auto;
   height: auto;
}

:host {
    display: grid;
    place-items: center;
    height: 70vh;
    width: 100vw;
  }
  .container {
    width: 400px;
    height: 380px;
    display: block;
    position: relative;
    perspective: 800px;
    border-radius: 4px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
  }
  
  .card .front,
  .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    background-color: #f1f2f3;
    display: grid;
    place-items: center;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .arrow-icon {
    position: absolute;
    right: 15px;
    top: 5px;
    opacity: 1;
    font: 1.5em sans-serif;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 1px solid #000; */
  
  }

  .black{
    color: #000;
    font-weight: 600;
    background-color: #e9ecef;
  }
 
  .non-resize{
    resize: none;
  }

  .display-line{
      max-width: 90%;
      padding-left: 9rem;
      display: flex;
  }
 /* important stuff for this example */


.row {
  display:flex;
}
.div1 {
  flex: 1 1 auto;
}

.div2 {
  flex: 0 0 auto; 
}
.row {
  width:100%;
  padding:1em;
  overflow:hidden;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
