<div class="container-fluid">
  <div class="header-body div1 card-body-img">
    <section>
      <carousel [interval]="false">
        <div class="row div2">
          <slide>
            <div class="col-xl-3 col-lg-6 display-line" data-aos="fade-up">
              <div class="container">
                <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
                  <div class="front">
                    <ng-content select="flip-card-front"></ng-content>
                    <div class="card-body px-lg-5 py-lg-5">
                      <h2 class="text-center h2 font-weight-bold mb-0">Contact Us Receiver</h2>
                      <br>
                      <br>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text black"><i class="ni ni-email-83"></i> To Receiver </span>
                          </div>
                          <textarea class="form-control non-resize" readonly>s@stc.com.sa, b@stc.com.sa</textarea>
                        </div>
                      </div>
                      <br>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text black"> CC Receiver</span>
                          </div>
                          <textarea class="form-control non-resize"
                            readonly>s@stc.com.sa, b@stc.com.sa, r@stc.com.sa </textarea>
                        </div>
                      </div>

                      <div class="arrow-icon" (click)="toggle()">
                        <i class="ion-ios-arrow-back">Edit</i>
                      </div>
                    </div>
                  </div>
                  <div class="back">
                    <ng-content select="flip-card-back"></ng-content>
                    <div class="card-body px-lg-5 py-lg-5">
                      <div class="text-center text-muted mb-4">
                      </div>
                      <h2 class="text-center h2 font-weight-bold mb-0">Update Receiver</h2>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text black"><i class="ni ni-email-83"></i> To Receiver </span>
                          </div>
                          <textarea class="form-control non-resize">s@stc.com.sa, b@stc.com.sa</textarea>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text black"> CC Receiver</span>
                          </div>
                          <textarea class="form-control non-resize">s@stc.com.sa, b@stc.com.sa, r@stc.com.sa </textarea>
                        </div>
                      </div>
                      <br>
                      <br>

                      <div class="text-center">
                        <button type="button" id="myBtn" class="btn btn-primary" style="background-color:#ff375d;"
                          (click)="save()">Save</button>

                        <button type="button" class="btn btn-primary" style="background-color:#ff375d;"><a
                            style="color: white;" (click)="toggle()">Cancel</a></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="col-xl-3 col-lg-6 display-line" data-aos="fade-up">
              <div class="container ">
                <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
                  <div class="front">
                    <ng-content select="flip-card-front"></ng-content>
                    <div class="card-body px-lg-5 py-lg-5">
                      <h2 class="text-center h2 font-weight-bold mb-0">Operation</h2>
                      <br>
                      <br>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text black"><i class="ni ni-email-83"></i> To Receiver </span>
                          </div>
                          <textarea class="form-control non-resize" readonly>s@stc.com.sa, b@stc.com.sa</textarea>
                        </div>
                      </div>
                      <br>
                      <div class="arrow-icon" (click)="toggle()">
                        <i class="ion-ios-arrow-back">Edit</i>
                      </div>
                    </div>
                  </div>
                  <div class="back">
                    <ng-content select="flip-card-back"></ng-content>
                    <div class="card-body px-lg-5 py-lg-5">
                      <div class="text-center text-muted mb-4">
                      </div>
                      <h2 class="text-center h2 font-weight-bold mb-0">Update Receiver</h2>
                      <br>
                      <br>
                      <div class="form-group mb-3">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text black"><i class="ni ni-email-83"></i> To Receiver </span>
                          </div>
                          <textarea class="form-control non-resize">s@stc.com.sa, b@stc.com.sa</textarea>
                        </div>
                      </div>
                      <br>
                      <br>
                      <br>
                      <div class="text-center">
                        <button type="button" id="myBtn" class="btn btn-primary" style="background-color:#ff375d;"
                          (click)="save()">Save</button>
                        <button type="button" class="btn btn-primary" style="background-color:#ff375d;"><a
                            style="color: white;" (click)="toggle()">Cancel</a></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </slide>
        </div>
      </carousel>
    </section>
  </div>
</div>