<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" (keypress)="trueChart($event)" autocomplete="off">
  <h2 class="text-center h2 font-weight-bold mb-0" style="padding-bottom: 2rem;"> Change Password</h2>
  <div class="form-row">
    <div class="form-group col">
      <label>Current Password</label>
      <input type="password" formControlName="currpassword" [(ngModel)]="current" onpaste="return false;" class="form-control"
        [ngClass]="{'is-invalid': submitted && f.currpassword.errors }" />
      <div *ngIf="submitted && f.currpassword.errors" class="invalid-feedback">
        <div *ngIf="f.currpassword.errors.required">Current Password is required</div>
      </div>
    </div>

    <div class="form-group col">
      <label>New Password</label>
      <input type="password" formControlName="password" [(ngModel)]="password" onpaste="return false;" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
      </div>
    </div>
    <div class="form-group col">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" [(ngModel)]="confirm" onpaste="return false;" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-secondary">Confirm</button>
    <button class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
  </div>
</form>