[dir=rtl]  
.btn-neutral{
float: left;}
[dir=rtl]  
.text-muted{
text-align: right;
}
[dir=rtl]  
.h2,.mr-2, .mx-2{
    float: right;
}

.link{
        color: #1a0dab !important;
        cursor: pointer;
}

.color-white{
    color: white;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 600;

}
.color-pink{
    color: #FF375D;
    border: 1px solid #cad1d7;
}

::ng-deep .input-group-text-card{
    display: flex;
    align-items: center;
    padding: 0.3rem 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #FF375D;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.display-line{
    max-width: 90%;
    padding-left: 9rem;
    display: flex;
}

.font-home{
    padding-top: 2rem; 
    padding-left: 8rem; 
    font-size: 1rem;
    
}

.border-line{
    color: white;
    border-top: solid;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  * {
    margin: 0;
    padding: 0;
}

.center-fit {
    padding: 0;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

