<div class="container-fluid" style="background-color: #4F008C;">
  <div class="header-body border-line">
    <div class="col ">
      <label class="color-white font-home">Special Offers</label>
    </div>
    <section class="main-slider">
      <carousel [interval]="false" style="bottom: -20px;">
        <div class="row">

          <slide>
            <div class="col-xl-3 col-lg-6 display-line" data-aos="fade-up">
              <div class="media-body ml-2 d-none d-lg-block">
                <div class="input-group mb-3">
                  <label class="form-control color-white" style="background-color: #E6315B;">Number of in Assets
                  </label>
                  <div class="input-group-prepend">
                    <span class="input-group-text-card">100</span>
                  </div>
                </div>
              </div>
              <div class="media-body ml-2 d-none d-lg-block">
                <div class="input-group mb-3">
                  <label class="form-control color-white" style="background-color: #E96734;">
                    Number of in Progress Order </label>
                  <div class="input-group-prepend">
                    <span class="input-group-text-card ">20</span>
                  </div>
                </div>
              </div>
              <div class="media-body ml-2 d-none d-lg-block">
                <div class="input-group mb-3">
                  <label class="form-control color-white" style="background-color: #5FC58D;">
                    Number of Ticket</label>
                  <div class="input-group-prepend">
                    <span class="input-group-text-card ">20</span>
                  </div>
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="col-xl-3 col-lg-6 display-line" data-aos="fade-up">
              <div class="media-body ml-2 d-none d-lg-block">
                <div class="input-group mb-3">
                  <label class="form-control color-white" style="background-color: #E6315B;">
                    Number of Ticket</label>
                  <div class="input-group-prepend">
                    <span class="input-group-text-card">20</span>
                  </div>
                </div>
              </div>

              <div class="media-body ml-2 d-none d-lg-block">
                <div class="input-group mb-3">
                  <label class="form-control color-white" style="background-color: #E96734;">
                    Number of Ticket</label>
                  <div class="input-group-prepend">
                    <span class="input-group-text-card"> 20 </span>
                  </div>
                </div>
              </div>

              <div class="media-body ml-2 d-none d-lg-block">
                <div class="input-group mb-3">
                  <label class="form-control color-white" style="background-color: #66CED9;">Number of Ticket</label>
                  <div class="input-group-prepend">
                    <span class="input-group-text-card"> 20 </span>
                  </div>
                </div>
              </div>
            </div>
          </slide>
        </div>
      </carousel>
    </section>
  </div>
</div>

<section class="main-slider">
  <carousel [interval]="false">
    <slide>
      <img src="./assets/img/BC3-P.png" alt="First slide" class="center-fit" style="width: auto;" height="425">
    </slide>
    <slide >
      <img src="https://picsum.photos/id/1026/900/500" alt="Second slide" class="center-fit" height="425">
    </slide>
    <slide>
      <img src="https://picsum.photos/id/1031/900/500" alt="Third slide" class="center-fit" height="425">
    </slide>
  </carousel>
</section>