.bg-gradient-danger{
    background: #4F008c !important;
}
.pt-md-8{
    padding-top: 2rem !important;
}
.h3 .mat-typography{
    font-family: inherit;
    font-weight: 600 !important;
    line-height: 1.5;
    margin-bottom: 0 !important;
    font-size: 1.0625rem;
}