<div class="header bg-gradient-danger pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Table -->
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="h3">Report Details </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <div>
                        <mat-form-field *ngFor="let filter of filterSelectObj" style="width: 12%;">
                            <mat-label>Filter {{filter.type}}</mat-label>
                            <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                                (change)="filterChange(filter,$event)">
                                <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <table mat-table class="table align-items-center table-flush" [dataSource]="dataSource">
                        <thead class="thead-light">
                            <ng-container matColumnDef="complaint">
                                <th mat-header-cell *matHeaderCellDef> Complaint </th>
                                <td mat-cell *matCellDef="let element"> {{element.complaint}} </td>
                            </ng-container>

                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                            </ng-container>

                            <ng-container matColumnDef="assigned">
                                <th mat-header-cell *matHeaderCellDef> Assigned To </th>
                                <td mat-cell *matCellDef="let element"> {{element.assigned}} </td>
                            </ng-container>

                            <ng-container matColumnDef="customer">
                                <th mat-header-cell *matHeaderCellDef> customer </th>
                                <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> status </th>
                                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                            </ng-container>

                            <ng-container matColumnDef="creation">
                                <th mat-header-cell *matHeaderCellDef> creation </th>
                                <td mat-cell *matCellDef="let element"> {{element.creation}} </td>
                            </ng-container>

                            <ng-container matColumnDef="close">
                                <th mat-header-cell *matHeaderCellDef> close </th>
                                <td mat-cell *matCellDef="let element"> {{element.close}} </td>
                            </ng-container>
                            <ng-container matColumnDef="mttr">
                                <th mat-header-cell *matHeaderCellDef> MTTR (H) </th>
                                <td mat-cell *matCellDef="let element"> {{element.mttr}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </thead>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>